<div class="container-fluid">
    <div class="site_content mt-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 changepassword_main">
                    <form class="border mt-4 mb-4" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <h3 class="form-title text-center">Change Password</h3>
                        <div class="form-group mt-3">
                            <label for="oldpassword">Old Password<span class="required">*</span></label>
                            <input [type]="pswold?'password':'text'" class="form-control" name="oldPassword" id="oldPswId" placeholder="Old Password" formControlName="oldPassword">
                            <span (click)="showHidePAsswordOld()" class="oldPassword">{{pswold?'Show':'Hide'}}</span>
                            <small class="text-danger " *ngIf="!changePasswordForm.get('oldPassword').valid && changePasswordForm.get('oldPassword').touched ">Old
                    Password required </small>
                        </div>

                        <div class="form-group">
                            <label for="username">New Password<span class="required">*</span></label>
                            <input [type]="pswnew?'password':'text'" class="form-control" name="password" id="newPswId" placeholder="New Password" formControlName="password">
                            <span (click)="showHidePAsswordNew()" class="newPassword">{{pswnew?'Show':'Hide'}}</span>
                            <small class="text-danger" *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched">New Password
                    required</small>
                        </div>

                        <div class="form-group">
                            <label for="username">Confirm Password<span class="required">*</span></label>
                            <input [type]="pswncnfrm?'password':'text'" class="form-control" name="cnfrmpassword" id="cnfrmId" placeholder="New Password" formControlName="cnfrmpassword">
                            <span (click)="showHidePAsswordCnfrm()" class="CnfrmPassword">{{pswncnfrm?'Show':'Hide'}}</span>
                            <small class="text-danger" *ngIf="!changePasswordForm.get('cnfrmpassword').valid && changePasswordForm.get('cnfrmpassword').touched">Confirm
                    Password required </small>
                        </div>

                        <div class="form_btns popup_btn">
                            <strong *ngIf="msg" class="text-danger">{{msg}}</strong>
                            <button class="saveBtn" type="submit"> Submit</button>
                            <button class="cancelBtn" type="button" (click)="clear()" [disabled]="!changePasswordForm.dirty"> Clear</button>
                            <!-- <button class="btn btn-danger   ml-3" type="button" [routerLink]="['/home/map']" routerLinkActive="router-link-active" ><i class="fa fa-arrow-left"></i> Back</button> -->
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>