.oldPassword
{
    position: absolute;
    right: 25px;
    top: 40px;
    cursor: pointer;
}
.newPassword
{
    position: absolute;
    right: 25px;
    top: 40px;
    cursor: pointer; 
}
.CnfrmPassword
{
    position: absolute;
    right: 25px;
    top: 40px;
    cursor: pointer;

}

.changepassword_main {
    .form-title{
        color: #333;
    }
    form{
        max-width: 450px;
        margin: auto;
        position: relative;


        .form-group{    
            position: relative;
            margin-bottom: 30px;

            .text-danger {
                color: #dc3545!important;
                position: absolute;
                bottom: -25px;
            }
        }
    }
}

.changepassword_main {
    form {
        box-shadow: 0 0 10px #ddd;
        .form-title{
            padding: 15px 0;
            margin: 0;
            background: #fafafa;
            border-bottom: solid 1px #ddd;
        }
        .form-group {
            padding: 0 15px;

            .btn{
                border-radius: 3px;
            }
        }
    }
}